<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
    <div class="my-auto">
      <h2 class="mb-5">Liên hệ</h2>
      
      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <p class="lead mb-4">
              Cảm ơn bạn đã ghé thăm hồ sơ của tôi. Tôi luôn sẵn sàng trao đổi về các cơ hội hợp tác hoặc dự án mới. Đừng ngần ngại liên hệ với tôi qua:
          </p>
          
          <div class="subheading mb-3">Thông tin chi tiết</div>
          <ul class="fa-ul mb-4 ml-0">
            {{ with .Params.email }}
            <li class="mb-3">
              <i class="fa-li fa fa-envelope text-primary"></i>
              <span style="color: #ccc;">Email:</span> <a href="mailto:{{ . }}">{{ . }}</a>
            </li>
            {{ end }}
  
            {{ with .Params.phone }}
            <li class="mb-3">
              <i class="fa-li fa fa-phone text-primary"></i>
              <span style="color: #ccc;">Điện thoại:</span> {{ . }}
            </li>
            {{ end }}
            
            {{ with .Params.address }}
            <li class="mb-3">
              <i class="fa-li fa fa-map-marker-alt text-primary"></i>
              <span style="color: #ccc;">Địa chỉ:</span> {{ . }}
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>